body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Handwrite-Logo {
  width: 300px;
  display: block;
  margin: auto;
  padding-top: 2%;
}

.input-form{
  align-items: center;
  text-align: center;
}

.input-image{
  height: 430px;
  width: 330px;
}
.input-image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block
}

.flexbox-container button {
  color: black;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 7px 20px 7px;
  border: 1px solid black;
  cursor: pointer;
  margin: 5px;

  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.flexbox-container button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: 0.2s;
}

.flexbox-container button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.flex-item {
  margin: 30px;
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media all and (max-width: 500px) {
  .flexbox-container {
    flex-direction: column;
    justify-content: space-between;
  }
}

.modal-body{
  height: 500px;
  width: 500px;
  overflow: hidden;
}

.modal-body:hover{
  overflow-y: auto;
}

.image-container {
  display: flex;
  height: 450px;
  width: 350px;
  align-items: center;
  text-align: center;
  border-width: 1px;
  justify-content: center;
  border-radius: 2px;
  border-color: black;
  border-style: solid;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.image-container button{
  height: 20px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  background-color: rgb(46, 135, 250);
  color: hsl(0, 0%, 100%);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container button:hover {
  border-color: hsl(0, 0%, 21%);
}


.submit-form button{
  margin: auto;
  align-items: center;
  justify-content: center;
}
