@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.Handwrite-Logo {
    width: 300px;
    display: block;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 1%;
}

.subsection {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: large;
}

.subsection li {
    text-align: left;
}

.about-list {
    width: auto;
    display: inline-block;
}

.input-form {
    align-items: center;
    text-align: center;
}

.input-image {
    height: 470px;
    width: 360px;
}

.input-image img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.flexbox-container button {
    color: black;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px 10px;
    cursor: pointer;
    margin: 5px;
    border: #fafafa;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.flexbox-container button {
    font-weight: 500;
    border-radius: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flexbox-container button:hover {
    color: white;
    background-color: #33a9e9;
    font-weight: 700;
}

.navbar-background {
    width: 100%;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px -4px grey;
    -webkit-box-shadow: 0 3px 6px -4px grey;
    -moz-box-shadow: 0 3px 6px -4px grey;
}

.flexbox-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

@media all and (max-width: 600px) {
    .flexbox-container {
        flex-direction: column;
        justify-content: space-between;
    }
    .submit-button {
      padding-top: 20px;
    }
}

.grid {
  max-width: 1200px;
  margin: auto;
}

.image-container {
    display: flex;
    height: 500px;
    width: 390px;
    align-items: center;
    text-align: center;
    border-width: 1px;
    justify-content: center;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
}

.image-container button {
    height: 20px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background-color: #33a9e9;
    color: hsl(0, 0%, 100%);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container button:hover {
    border-color: hsl(0, 0%, 21%);
}
