@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.Handwrite-Logo {
    width: 300px;
    display: block;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 1%;
}

.subsection {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: large;
}

.subsection li {
    text-align: left;
}

.about-list {
    width: auto;
    display: inline-block;
}

.input-form {
    align-items: center;
    text-align: center;
}

.input-image {
    height: 470px;
    width: 360px;
}

.input-image img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.flexbox-container button {
    color: black;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px 10px;
    cursor: pointer;
    margin: 5px;
    border: #fafafa;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flexbox-container button:hover {
    color: white;
    background-color: #33a9e9;
    font-weight: 700;
}

.navbar-background {
    width: 100%;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px -4px grey;
    -webkit-box-shadow: 0 3px 6px -4px grey;
    -moz-box-shadow: 0 3px 6px -4px grey;
    z-index: 1;
}

.flexbox-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

@media all and (max-width: 600px) {
    .flexbox-container {
        flex-direction: column;
        justify-content: space-between;
    }
    .submit-button {
        padding-top: 20px;
    }
}

.grid,
.subsection {
    max-width: 1500px;
    margin: auto;
}

.image-container {
    display: flex;
    height: 600px;
    width: 400px;
    align-items: center;
    text-align: center;
    border-width: 1px;
    justify-content: center;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
}

.image-container button {
    height: 20px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
    user-select: none;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background-color: #33a9e9;
    color: hsl(0, 0%, 100%);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container button:hover {
    border-color: hsl(0, 0%, 21%);
}

.settings-wrap{
    margin: 20px;
    background-color: #fff;
    width: 400px;
    border-radius: 5px;
    /* box-shadow:  0 10px 10px -5px rgba(0, 0, 0, 0.2); */
}

.settings-wrap h2{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    color: black;
    margin-bottom: 32px;
}

.input-wrap{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.form-label{
    font-size: 20px;
    margin-bottom: 3px;
}

.form-input{
    border: none;
    background-color: #f3f9fa;;
    border-radius: 5px;
    padding: 12px;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    transition: 250ms all ease-in;
}

.form-input:hover {
    border: 1px solid rgba(203, 235, 242, 0.987);
    box-shadow: 0 0 5px rgba(203, 235, 242, 0.987);
    background: white;
  }
  
.form-input:focus {
    border: 1px solid rgba(173, 217, 226, 0.987);
    box-shadow: 0 0 5px rgba(97, 212, 238, 0.987);
    background: white;
  }

.form-check-input {
	height: 0;
	width: 0;
	visibility: hidden;
}

.form-check-toggle {
	cursor: pointer;
	text-indent: 9999px;
	width: 40px;
	height: 25px;
	background: grey;
	border-radius: 100px;
	position: relative;
}

.form-check-toggle:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.form-check-input:checked + .form-check-toggle {
	background: #33a9e9;
}

.form-check-input:checked + .form-check-toggle:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.form-check-toggle:active:after {
	width: 22px;
}

.form-check {
    text-align: right;
}

.divider {
    color: rgb(61, 61, 61);
    background-color: rgb(61, 61, 61);
    height: 4px;
    width: 25%;
    margin: auto;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.5);
    font-size: 25px;
}

.spinner {
    width: 25px;
    height: 25px;
    border: 3px solid #33a9e9;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear 0s infinite;
    margin-left: 12px;
    z-index: 0;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
